<% layout('/layouts/boilerplate') -%>
<div class="container-fluid show-control">
<div class="">
    <h3><%=listing.title%></h3>
</div>

<div class="card listing-card ">
    <img src="<%=listing.image.url %>" class="card-img-top" alt="listing image">
    <div class="card-body">
      <p class="card-text">
        <p>Owned By: <i><%=listing.owner.username%></i></p>
        <p><%= listing.description %></p>
        <p><%= listing.price.toLocaleString("en-IN") %></p>
        <p><%= listing.location %></p>
        <p><%= listing.country %></p>
    </p>
    </div>
  </div>

<% if(curruser&&curruser._id.equals(listing.owner._id)){ %>
 <!-- <a href="/listings/<%= listing.id %>/edit" class="btn btn-dark edit-btn col-1">Edit</a> -->
<div class="edit-delete-btns">
  <form method="GET" action="/listings/<%= listing.id %>/edit">
     <button class="btn btn-dark edit-btn">Edit</button>
  </form>
  <form method="POST" action="/listings/<%= listing.id %>?_method=DELETE">
    <button class="btn btn-dark">Delete</button>
  </form>
</div>
<br>
<% } %>
<hr>

<% if(curruser){ %>
<h3><b>Write a review</b></h3>
<form method="POST" action="/listings/<%= listing.id %>/review" class="mb-3">
  <div class="col-6 mb-3 mt-3" >
    <label class="form-label">Rating</label>
    <fieldset class="starability-slot">
    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
 </div>
 <div>
    <label for="comment" class="form-label">Comments</label>
    <textarea class="form-control" name="review[comment]" id="comment" rows="8" required ></textarea>
    <br>
  </div>
  <button class="btn btn-dark add-btn">Submit</button>
</form>  
  <hr>
<% } %>

<p><b>All Reviews</b></p>
<br>
<div class="row">
<% for(let review of listing.reviews){ %>
  <div class="review-card card ms-3">
    <b><p> @<%=review.author.username%> </p></b>
    <p class="starability-result" data-rating="<%= review.rating %>"></p>
    <p><%= review.comment %></p>
    <form method="POST" action="/listings/<%= listing.id %>/review/<%= review.id %>?_method=DELETE">
      <button class="btn btn-dark">Delete</button>
    </form>
    <br>
  </div>
<% } %>
</div>

</div>
    
